name: Build

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: app/dashboard/package-lock.json

      - name: Install dependencies
        working-directory: ./app/dashboard
        run: |
          npm install --legacy-peer-deps
          npm install -D typescript@^5.2.2 --legacy-peer-deps

      - name: Build project
        working-directory: ./app/dashboard
        run: VITE_BASE_API=/api/ npm run build -- --outDir build --assetsDir statics

      - name: Create 404.html
        working-directory: ./app/dashboard
        run: cp ./build/index.html ./build/404.html

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            tawanamohammadi/marzban:latest
            tawanamohammadi/marzban:${{ github.ref_name }}
            ghcr.io/tawanamohammadi/marzban:latest
            ghcr.io/tawanamohammadi/marzban:${{ github.ref_name }}
